<h2>Lista de clientes</h2>
<table class="table table-sm">
  <thead>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Edad</th>
    <th>Fecha de nacimiento</th>
    <th>Fecha probable de muerte</th>
  </thead>
  <ng-container *ngFor="let client of clientArray">
    <tr class="table-dark">
      <Td>{{client.name}}</Td>
      <Td>{{client.lastName}}</Td>
      <Td>{{client.age}}</Td>
      <Td>{{client.birthdate}}</Td>
      <Td>{{client.deathDate |  date:'dd/MM/yyyy'}}</Td>
    </tr>
  </ng-container>
</table>
<h4 *ngIf="promAge!=''">Edad Promedio: {{promAge}}</h4>